{% extends 'layout.html.twig' %}
{% block content %}
    <div id="formHolder" style="display: inline-block;padding: 20px;width: 360px;">
    <form method="post" {{ form_enctype(form) }}>
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.measurement) }}
    {% if action != 'edit' %}
        {{ form_row(form.imageFile) }}
        {% endif %}
        {{ form_row(form._token) }}
        {% if action == 'edit' %}
                {{ form_row(form.edit) }}
            {% else %}
                    {{ form_row(form.Sukurti) }}
                {% endif %}
    </form>
    </div>
    <ul style="overflow-y:scroll;height: 236px;position: absolute;display: inline-block;left:380px;width: 480px" class="list-group">
        {% for entity in entities %}
            <li class="list-group-item" style="height: 75px"><img src="{{ asset(entity.path) }}" height="55" width="55px" style="padding: 0 5px 0 0"/> {{ entity.title }}<span style="font-size: 80%">({{ entity.measurement.title }})</span>{% if role == 'ROLE_ADMIN' %}<span><a style="float:right;" href="{{ url('_delete_product', {'id' : entity.id}) }}"><span style="color:red;">Ištrinti</span></a><a style="float:right;padding:0 10px 0 0" href="{{ url('_edit_product', {'id' : entity.id}) }}"><span style="color:blue;">Redaguoti</span></a></span>{% endif %}</li>
        {% endfor %}
    </ul>
    <script type="text/javascript">

    </script>
{% endblock %}